* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: sans-serif;
    color: rgb(7, 1, 41);
    margin: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

#search {
    margin-left: 80%;
}

#dataBlank {
    width: 200px;
    margin-top: 50px;
}

#submitButton {
    display: grid;
    margin-top: 20px;
    width: 100px;
    color:rgb(28, 7, 146);
    font-family: Tahoma;
    letter-spacing: 1px;
}

th {
    font-family: sans-serif;
    border: 1px solid rgb(28, 7, 146);
    border-collapse: collapse;
    border-width: 2px;
}

table {
    width: 100%;
    border-spacing: 40px;
    border-bottom: 1px solid black;
}